body {
    font-family: Calibri;
}
line {
    stroke: #aaa;
}
.bar {
    fill: #1e99e7;
    opacity: 0.7;
    font-size: 24pt;
    font-weight: bold;
}
.xlabel {
    fill: gray;
    font-size: 14pt;
    text-anchor: middle;
}
.ylabel {
    font-size: 25pt;
    fill: gray;
    text-anchor: end;
    font-weight: bold;
}